<html>
<head>
  <title>react-lite-audio</title>
  <meta charset="utf-8" />
  <link rel="icon" href="" />
  <link rel="stylesheet" href="{{ style }}" />
  <script src="{{ vendor }}" defer="true"></script>
  <script src="{{ main }}" defer="true"></script>
</head>
<body>
  hey
</body>
</html>
