@import '~flex.less/flex';

.lite-audio {
  @color: #E85B48;
  display: inline-block;

  audio {
    display: none;
    visibility: hidden;
  }

  .audio-player {
    position: relative;
    display: inline-block;
    max-width: 360px;
    min-width: 100px;
    height: 32px;
    line-height: 30px;
    cursor: pointer;
    background-color: #FFF;
    color: #B3B3B3;
    vertical-align: middle;

    .icon {
      color: @color;
    }
  }

  &:not(.slim) .audio-player {
    border: 1px solid #EDEDED;
    border-radius: 4px;

    &:hover, &.is-playing {
      color: @color;
      border-color: #FFD2CC;
    }
  }

  .content {
    .display(flex);
    .flex-direction(row);
    .align-items(center);
    padding-left: 8px;
    padding-right: 15px;
  }

  .audio-player .progress {
    height: 30px;
    position: absolute;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #FFEDEB;
  }

  .audio-player.is-playing .progress {
    transition: width 200ms linear;
    -webkit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
  }

  .audio-player .icon {
    font-size: 16px;
    z-index: 1;
  }

  .audio-player .time {
    .flex-grow(1);
    margin-left: 8px;
    font-size: 13px;
    z-index: 1;
  }

  .unread-dot {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: @color;
  }
}

.lite-audio.slim {
  .content {
    padding: 0;
    .justify-content(flex-start);
  }
}
